
#BassScrollBar::-webkit-scrollbar,
.BassBarContainer::-webkit-scrollbar {
  width: 10px;
  height: 17px;
  background: transparent;
}

#BassScrollBar::-webkit-scrollbar-thumb,
.BassBarContainer::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(0 0 0 / 40%)),
    color-stop(0.72, rgb(0 0 0 / 40%)),
    color-stop(0.86, rgb(0 0 0 / 40%))
  );
  border: #b0acac 1px solid;
  border-radius: 5px;
}
#BassScrollBar::-webkit-scrollbar-thumb:hover,
.BassBarContainer::-webkit-scrollbar-thumb:hover {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(0 0 0 / 67%)),
    color-stop(0.72, rgb(0 0 0 / 67%)),
    color-stop(0.86, rgb(0 0 0 / 67%))
  );
}